<%= form_for @task do |t| %>
    <p>
        <%= t.label :name %><br/>
        <%= t.text_field :name %>
    </p>

    <p>
       <%= t.label :description %><br/>
       <%= t.text_area :description %>
    </p>

    <p>
        <%= t.label :effort %><br/>
        <%= t.text_field :effort %>
    </p>

    <p>
        <%= t.label :priority %><br/>
        <%= t.text_field :priority %>
    </p>

    <p>
        <%= t.submit %>
    </p>

<% end %>