
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="main-nav">
  <div id="logo-box">
    <%= link_to "Task List", root_path, class: "navbar-bar nav-item nav-link", id: "logo" %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto nav-fill w-100">
      <li class="nav-item">
        <%= link_to "Tasks", root_path, class: "nav-link" %>
      </li>
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Current Users", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Create A New Task', new_task_path, class: "nav-link" %>
        </li>

      <% end %>

      <% if logged_in? %>
        <li class = "nav-item">
          <a class="nav-link disabled">Welcome, <%= current_user.name%></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Tasks (WIP)</a>
            <div class="dropdown-divider"></div>
            <%= link_to 'Logout', logout_path, method: :delete, class:"dropdown-item"%>
          </div>
        </li>
        <% else %>
          <li class = "nav-item">
            <%= link_to 'Register', new_user_path, class: "nav-link" %>
          </li>
          <li class = "nav-item">
            <%= link_to 'Login', login_path, class: "nav-link" %>
          </li>
        <% end %>

    </ul>

  </div>
</nav>